[Desktop Entry]
Type=Application
Name=Analog signature analyzer
Icon=asa
TryExec=/usr/bin/asa
Exec=/usr/bin/asa
Terminal=false
Categories=Utility;Electronics;
