[Desktop Entry]
Type=Application
Name=asa
Icon=/home/dima/tmp/build/app_icon.png
TryExec=/home/dima/tmp/build/analog_signature_analyzer
Exec=/home/dima/tmp/build/analog_signature_analyzer
Terminal=false
